<section class="wrapper">            
  <div class="row">
  <div class="col-lg-12">
    <h3 class="page-header"><i class="fa fa-check"></i> Participantes</h3>
    <ol class="breadcrumb">
      <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
      <li><i class="fa fa-map-marker"></i>Mapas</li>  
      <li><i class="fa fa-check"></i>Participantes</li>               
    </ol>
  </div>
  </div>
</section>
<div class="col-sm-12">
  <section class="panel">
    <header class="panel-heading no-border">
        Mapa dos Participantes
    </header>
    <div class="panel-body back-color">
      <div id="geo_chart_participantes" ></div>
    </div>
  </section>
</div>
