<section class="wrapper">            
  <div class="row">
	<div class="col-lg-12">
		<h3 class="page-header"><i class="fa fa-laptop"></i> Tecnologias</h3>
		<ol class="breadcrumb">
			<li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
			<li><i class="fa fa-laptop"></i>Tecnologias</li>						  	
		</ol>
	</div>
  </div>
</section>
<div class="col-sm-12">
	<section class="panel">
	    <header class="panel-heading no-border">
	        Tecnologias utilizadas no desenvolvimento desta simulação!
	    </header>
	    <div class="panel-body back-color texto">
			<p>Na primeira versão deste projeto foi desenvolvido uma API REST com as tecnologias de back-end e front-end em um mesmo projeto, onde eram executadas em conjunto. As tecnologias utilizadas na primeira versão deste projeto foram: </p>
			<li><a href="https://www.java.com/pt_BR/">Java versão 8</a> para desenvolvimento da API e regras de negócio do projeto;</li>
			<li>Framework <a href="https://angularjs.org/">AngularJS</a> para o desenvolvimento front-end da aplicação web;</li>
			<li><a href="https://spring.io/">Spring Boot e Spring Data</a> para configuração e execução do projeto;</li>
			<li>Banco de dados <a href="https://www.postgresql.org/">PostgreSQL</a> como solução para armazenar os dados gerados;</li>
			<li>Framework <a href="https://getbootstrap.com.br/docs/3.3/">Bootstrap versão 3</a> para template de sistema web responsivo;</li>
			<br>
			<p>Na segunda versão do projeto algumas alterações foram realizadas:  </p>
			<li>Refatoração da API do back-end para atender os princípios SOLID de desenvolvimento de sistemas e a metodologia Domain-Driven Design (DDD);</li>
			<li>Cobertura de testes do código legado e de novos códigos gerados no back-end;</li>
			<li>Front-end atualizado para <a href="https://angular.io/">Angular versão 9</a>. Manteve-se o layout desenvolvido na primeira versão, fazendo os ajustes necessários;</li>
			<li>Front-end e back-end separados em projetos individuais para garantir sua independência, conforme padrão de mercado usualmente utilizado;</li>
			<li>Utilização da <a href="https://developers.google.com/chart">API Google Charts</a> para geração e exibição de gráficos com informações dos campeonatos gerados;</li>
			<li>Utilização da <a href="https://www.amcharts.com/">API amCharts versão 4</a> para geração e exibição de mapas com informações dos campeonatos gerados;</li>
			<li>Utilização do <a href="https://projectlombok.org/">Projeto Lombok</a> para ganho de produtividade no desenvolvimento da aplicação;</li>
		</div>
	</section>
</div>