<section class="wrapper">            
  <div class="row">
  <div class="col-lg-12">
    <h3 class="page-header"><i class="fa fa-list-alt"></i> Colocações</h3>
    <ol class="breadcrumb">
      <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
      <li><i class="fa fa-map-marker"></i>Mapas</li>  
      <li><i class="fa fa-list-alt"></i>Colocações</li>               
    </ol>
  </div>
  </div>
</section>
<div class="col-sm-12">
  <section class="panel">
    <header class="panel-heading no-border">
        Mapa das Colocações no Campeonato
    </header>
    <div class="panel-body back-color">
      <div class="row">
        
          <form class="form-inline"> 
            <div class="col-md-6">
             <label>Campeonato: </label> 
             <div class="form-group seleciona-campeonato">
                <button 
                    type="button"
                    id="dropdownMenu1"
                    class="btn btn-default btn-block"
                    data-toggle="dropdown" 
                    aria-haspopup="true" 
                    aria-expanded="true">
                  <div>
                    Selecione 
                    <span class="caret"></span>
                  </div>
                </button>
                <ul 
                  class="dropdown-menu pre-scrollable seleciona-campeonato-dropdown" 
                  aria-labelledby="dropdownMenu1">
                    <li 
                      *ngFor="let campeonato of campeonatos" 
                      (click)="listarPosicoesCampeonato(campeonato)">
                      <img [src]="'assets/img/bandeiras/'+campeonato.sede.bandeira"/>
                        {{" - "+campeonato.id}}
                    </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-3" *ngIf="campeonato != null">
              País Sede: <img [src]="'assets/img/bandeiras/'+campeonato.sede.bandeira"/> - {{campeonato.sede.nome}}
            </div>
            <div class="col-sm-3" *ngIf="campeonato != null">
              Campeão: <img [src]="'assets/img/bandeiras/'+campeonato.primeiro.bandeira"/> - {{campeonato.primeiro.nome}}
            </div>
          </form>      
      </div>
      <div class="row">
        <div id="geo_chart_campeonato" ></div>
      </div> 
    </div>
  </section>
</div>
