<section class="wrapper">            
  <div class="row">
	<div class="col-lg-12">
		<h3 class="page-header"><i class="fa fa-laptop"></i> Regras</h3>
		<ol class="breadcrumb">
			<li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
			<li><i class="fa fa-laptop"></i>Regras</li>						  	
		</ol>
	</div>
  </div>
</section>
<div class="col-sm-12">
	<section class="panel">
	    <header class="panel-heading no-border">
	        Conheça as regras desta simulação!
	    </header>
	    <div class="panel-body back-color texto">
			<p>Consiste em simular uma copa do mundo de futebol nos moldes dos disputados a partir da Copa do Mundo de 1998. 8 grupos com 4 seleções cada, onde os 2 primeiros se classificam para as oitavas-de-finais. A partir desse momento os vencedores avançam para as quartas-de-finais, semi-finais e finais, onde teremos o campeão, vice-campeão, terceiro e quarto lugares definidos para cada edição gerada do campeonato. </p>
			<p>As seleções mais famosas podem ser cadastradas automaticamente, assim como outras seleções podem ser cadastradas a qualquer tempo. Também há a opção de exclusão de seleções, desde que a seleção ainda não tenha participado de nenhum campeonato. </p>
			<p>É definido um nível para cada seleção, de acordo com sua expressão na vida real. Este nível varia de 2 a 6 e é responsável pela definição da probabilidade da	geração de gols da seleção em cada jogo. Assim, uma seleção mais forte (nível mais alto) tem maior probabilidade de vencer uma partida do que uma seleção mais fraca (nível mais baixo). Este nível pode ser alterado para cada seleção a qualquer momento. </p>
			<p>Em cada jogo é gerado aleatoriamente o número de gols de cada seleção, com um valor entre 0 e o valor de seu nível. Por exemplo, a seleção brasileira (nível 6) em cada jogo pode ter entre 0 e 5 gols. Já uma seleção com menor expressão (nível 2) poderá ter apenas 0 ou 1 gol em cada jogo. Esse mecanismo se justifica com o objetivo de deixar a simulação mais real, fazendo com que uma seleção mais forte tenha maior probabilidade de vencer uma seleção mais fraca, mas não significa que o contrário não possa ocorrer (zebras acontecem assim como na vida real). </p>
			<p>O resultado de um jogo, bem como as classificações e progressões das seleções em cada campeonato são gerados e administrados automaticamente mediante as regras definidas no sistema. Assim, ao gerar um novo campeonato, todos os jogos e classificações são gerados automaticamente e apenas exibidos para conferência e salvos no banco de dados para posterior uso dos dados em estatísticas. </p>
			<p>Para iniciar um novo campeonato é necessário selecionar 32 seleções (manualmente ou aleatoriamente), sendo que a primeira seleção selecionada se torna a sede do	campeonato gerado. </p>
		</div>
	</section>
</div>