<section class="wrapper">            
  <!--overview start-->
  <div class="row">
	<div class="col-lg-12">
		<h3 class="page-header"><i class="fa fa-laptop"></i> Campeonatos</h3>
		<ol class="breadcrumb">
			<li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
			<li><i class="fa fa-laptop"></i>Campeonatos</li>						  	
		</ol>
	</div>
  </div>
</section>
<div class="col-sm-12" ng-init="listarCampeonatos()">
    <section class="panel">
        <header class="panel-heading no-border">
            Campeonatos Realizados
        </header>
        <div class="panel-body" style="background-color: #fafafa;">
        	<div class="row">
	        	<form class="form-inline">
	        		<div class="col-md-3">
	        			<label>Quantidade por página</label>
	        			<div class="form-group">
			        		<select id="qtdSelecoes" ng-model="qtdSelecoes" class="form-control"> 
							    <option ng-repeat="qtd in itensPorPagina" value="{{qtd}}">{{qtd}}</option>
							</select>
						</div>
	        		</div>
	        		<div class="col-md-6 text-center">
	        			<dir-pagination-controls max-size="5" boundary-links="true"></dir-pagination-controls>
	        		</div>
				</form>
       		</div>
   		</div>
        <table id="selecoesLista" class="table table-bordered" style="background-color: #fafafa;">
            <thead>
            <tr>
            	<th class="text-left">Sede</th>
                <th class="text-left">Campeão</th>
                <th class="text-left">Vice Campeão</th>
                <th class="text-left">3º Lugar</th>
                <th class="text-left">4º Lugar</th>
                <th class="text-center">Ver Campeonato</th>
            </tr>
            </thead>
            <tbody>
	            <tr dir-paginate="campeonato in campeonatos|itemsPerPage:qtdSelecoes"> 
	            	<td class="text-left"><img ng-src="img/bandeiras/{{campeonato.sede.bandeira}}"/> {{campeonato.sede.nome}}</td>
					<td class="text-left"><img ng-src="img/bandeiras/{{campeonato.primeiro.bandeira}}"/> {{campeonato.primeiro.nome}}</td>
					<td class="text-left"><img ng-src="img/bandeiras/{{campeonato.segundo.bandeira}}"/> {{campeonato.segundo.nome}}</td>
					<td class="text-left"><img ng-src="img/bandeiras/{{campeonato.terceiro.bandeira}}"/> {{campeonato.terceiro.nome}}</td>
					<td class="text-left"><img ng-src="img/bandeiras/{{campeonato.quarto.bandeira}}"/> {{campeonato.quarto.nome}}</td>
					<td> 
						<div class="btn-group">
                            <!-- <a href="selecoes/{{selecao.id}}"><button type="button" class="btn btn-primary btn-sm">Editar</button></a> -->
                            <a class="btn btn-primary btn-sm" href="campeonato/{{campeonato.id}}">Ver</a>
					</td>
				</tr>
            </tbody>
        </table>
        
    </section>
</div>

